NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
NEXT_PUBLIC_APP_URL=https://labajaditabarberstudio.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@labajaditabarberstudio.com
NEXT_PUBLIC_REALTIME_DEBUG=false
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_HOTSPOT_API_URL=https://labajaditabarberstudio.com/api/public/hotspot/visits
NEXT_PUBLIC_HOTSPOT_DEFAULT_BRANCH_CODE=SED-002
CRON_SECRET=
